*{
    margin: 0px;
    padding: 0px;
}

.banner{
    
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)), url('resources/Banner\ Image.png') ;
    
    background-size: 1320px 600px;
    
    width: 1320px;
    height: 600px;
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 150px;
    font-family: Merriweather;
   
}

.banner-text{
    padding-top: 50px;
}

#small-ban{
    padding-right: 60px;
    padding-top: 20px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400; 
    line-height: normal; 
}

#big-ban{
   
    font-size: 72px;
    font-style: normal;
    font-weight: 900; 
}

section{
    padding-top: 100px;
}

.sec1-texts{
    text-align: center;
    font-family: Inter;
}

#first-sec1{
    color: red;
    font-size: 88px;
    
}

#second-sec1{
    padding-top: 50px;
    color: red;
    font-size: 24px;
}

#third-sec1{
    font-size: 48px;
    padding-top: 20px;
}

.img-sec1{
    width: 802.9px;
    height: 500px; 
    padding-left: 350px;
    padding-top: 100px;
}

.sec2{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/Vectorrr.png') ;
    background-size: 1320px 600px;
    width: 1320px;
    height: 600px; 
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    padding-left: 150px;
    padding-top: 150px;
    display: flex;

}


.sec2-texts{
    color: white;
    padding-top: 100px;
    padding-left: 100px;
    
   
}

#img-sec2{
    
    width: 300px;
    height: 500px;
    padding-left: 60px;
}

#first-sec2{
    font-family: Merriweather;
    font-size: 64px; 
    word-spacing: 10px;
}

#second-sec2{
    font-family: Merriweather;
    font-size: 64px; 
    word-spacing: 10px;
}

#third-sec2{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    padding-top: 20px; 
}

#button-sec2{
    padding-top: 20px;
    color: white;
    font-family: Inter;
    font-size: 20px; 
    background-color: transparent;
    border-color: transparent;
   
}

.btn-container:hover{
    
}

.sec3{
    
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: 1320px 482px;
    
    width: 1320px;
    height: 482px; 
    padding-left: 150px;
    padding-top: 150px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    
}



.sec3-texts{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    line-height: 56px; 
}

span{
    color: red;
}

.sec3-button{
    padding-left: 550px;
    padding-top: 48px;
   
   

}

#sec3-button-text{
    color: white;
    background-color: red;
    border-color: transparent;
    font-size: 20px;
    font-family: Inter;
    padding: 16px 32px ;
    border-radius: 10px;

}

.sec4{
    background-size: 1320px 482px;
    width: 1320px;
    height: 482px; 
    display: flex;
    padding-left: 60px;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}
.left-side{
    padding-left: 5%;
    
    padding-top: 100px;
    width: 800px;
    
    
}

.middle-side{
    padding-left: 20%;
    width: 400px;
    height: 450px;
    border: solid;
    border-color: red;
    border-radius: 500px;
    border-width: 10px;
    position: relative;
    left: 100px;
}

.right-side{
    padding-top: 100px;
    padding-left: 15%;
    width: 600px;
    left: 50px ;
}

#left-first{
    font-family: Inter;
    font-weight: 100;
    font-size: 24px;
    color: red;
    padding-top: 16px;

}

#left-second{
    font-family: Merriweather;
    font-size: 48px; 
    color: black;
    padding-top: 25px;

}

#left-third{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px; 
    padding-top: 40px;
}

#sec4-img{
    position: absolute;
    top: 10%;
    right: 8%;
    
}

#right-first{
    font-family: Inter;
    font-size: 48px; 
    color: red;
    padding-top: 16px;

}

#right-second{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px; 
    padding-top: 25px;
}

#sec4-small-img{
    width: 140px;
    height: 140px; 
    padding-top: 40px;
    
}

.sec5-texts{
    text-align: center;
}

#sec5-first{
    font-family: Inter;
    font-size: 24px; 
    color: black;
}

#sec5-second{
    padding-top: 20px;
    font-family: Merriweather;
    font-size: 72px; 
}

#sec5-third{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 20px;
    font-family: Inter;
    font-size: 20px; 
    padding-bottom: 30px;
}

.pictures{
    background-image: url('resources/Rectangle\ 1.png'), url('resources/Rectangle\ 2.png');
    background-size: 350px 350px, 1230px 150px;
    width: 1320px;
    height: 500px; 
    display: flex;
    padding-left: 60px;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: 1029px 204px, bottom; 
    background-repeat: no-repeat;

    
}
.sec5-left-img{
    padding-left: 100px;
    padding-top: 0.5%;
    
    
}
.sec5-img-left{

    height: 500px;
    width: 600px;
}

.sec5-right-img{
    padding-left: 100px;
    padding-top: 50px;
    
}
.sec5-img-right{
    top: 400px;
}

.sec6-texts{
    text-align: left;
    padding-left: 100px;
}

#sec6-first{
    font-family: Inter;
    font-size: 24px; 
    color: red;
}

#sec6-second{
    padding-top: 20px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px; 
}

#sec6-third{
    padding-top: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px; 
    width: 896px; 
}

.gifts{
    background-size: 1320px 482px;
    width: 1320px;
    height: 900px; 
    
    padding-left: 90px;
    padding-top: 50px;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}
.first-line{
    display: flex;
    list-style-type: none;
}

.product{
    width: 424px;
    height: 450px; 
    padding: 10px;
}

.sec7{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.05) 100%, rgba(255, 0, 0, 0.05) 100%);
    background-size: 1320px 600px;
    
    width: 1320px;
    height: 600px; 
    padding-left: 100px;
    padding-top: 100px;
    text-align: center;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    border: solid;
    border-color: transparent;
    border-radius: 50px;
    
    
    
}

.writtings{
    padding-right: 10px;
    padding-top: 60px;
    
}
.message{
    padding-top: 30px; 
}

.sec7-first{
    padding-top: 30px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px; 

}

.sec7-second{
    padding-top: 30px;
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px; 
}

.input-box{
    padding-top: 50px;
    
    
    
}

.email{
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    height: 40px;
    width: 40%;
    border-color: transparent;
input[placeholder]{
    color: rgba(7, 2, 17, 0.30);
text-align: center;
font-family: Inter; 
}  

}

.form-btn{
    position: relative;
    padding: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: 67px;
    width: 10%;
    right: 5px;
    border-color: transparent;
    background-color: red;
    color: white;
    font-family: Inter;
    
}

footer{
    bottom: 800px;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 1530px;
    height: 700px;
    background-position: center;
    

}

.upp{
    display: flex;
    font-family: Inter;
    font-weight: 100;
font-size: 24px; 
line-height: 50px;
padding-bottom: 50px;
}

.upper-left{
    padding-left: 140px;
    padding-top: 120px;
    
}

.upper-right{
    padding-left: 500px;
    padding-top: 120px;
}

.footer-ul{
    display: flex;
    list-style-type: none;
}

.ls{
    padding-left: 20px;
}

hr{
    width: 1320px;
    height: 1px;
    margin-left: 130px;

}


.ul-logos{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex ;
    list-style-type: none;
}

.fb{
    padding-left: 600px;
}

.smedia{
    padding-left:40px
}

.low{
    display: flex;
    font-family: Inter;
font-size: 24px; 

}

.lower-left{
    padding-left: 140px;
    padding-top: 90px;
}

.lower-right{
    padding-left: 700px;
    padding-top: 90px;
}